@model IEnumerable<Dental_Clinic.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
    DateOnly date = ViewBag.date;
}

<h1>Appointments In @date</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="font-size:x-large"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-arrows-angle-expand" style="font-size:x-large"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash" style="font-size:x-large"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index"> Back To List</a>
