@model IEnumerable<Dental_Clinic.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="search-container">
    Find By Date .. 
    <form asp-action="AppointmentsWithDate">
        <div class="input-group-cust mb-3">
            <input class="form-control" type="date" name="date" id="date" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-cust" type="button">Search</button>
            </div>
        </div>
        @* <input type="date" name="date" id="date">
        <button type="submit" class="btn btn-cust">Search</button> *@
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="font-size:x-large"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-arrows-angle-expand" style="font-size:x-large"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash" style="font-size:x-large"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
