
@{
    ViewData["Title"] = "Create";
    int id =(int)ViewBag.Id;
}

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @for (int i = 7; i >= 0; i--)
                {

                        <a asp-action="TeethCreateUpLeft" asp-route-id="@id" asp-route-num="@i"><img src="~/Up_@(i).png" /></a>
                   


                }
                @for (int i = 0; i < 8; i++)
                {

                    <a asp-action="TeethCreateUpRight" asp-route-id="@id" asp-route-num="@i"><img src="~/Up_@(i).png" /></a>
                    
                }
            </td>
        </tr>
        <tr>
            <td>
                @for (int i = 7; i >= 0; i--)
                {

                    <a asp-action="TeethCreateDownLeft" asp-route-id="@id" asp-route-num="@i"><img src="~/Down_@(i).png" /></a>
                    

                }
                @for (int i = 0; i < 8; i++)
                {

                    <a asp-action="TeethCreateDownRight" asp-route-id="@id" asp-route-num="@i"><img src="~/Down_@(i).png" /></a>
                    
                }
            </td>
        </tr>

    </tbody>
</table>
